{% extends "base.html" %}

{% block title %}User page{% endblock %}

{% block content %}
<h2>User info</h2>
{% if not edit %}
<table class="table">
    <tr>
        <td>Username:</td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>{{user.phone}}</td>
    </tr>
    <tr>
        <td>Full name:</td>
        <td>{{user.get_full_name}}</td>
    </tr>
    <tr>
        <td>Date of birth:</td>
        <td>{{user.date_of_birth}}</td>
    </tr>
</table>
{% else %}
<form method="post" action="{% url 'edit_user' user.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark">Save</button>
</form>
{% endif %}
{% endblock %}